---
title: Binaries Download
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => relative("/index.html")} Home
  \/  Downloads  /
  %a.breadcrumb_anchor.active{:href => relative("/downloads/downloads_binaries.html")} Binaries Download
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Latest Final Release
        .sect1
          .sectionbody
            .paragraph
              %p Dashbuilder deployable WAR archives.
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Version
                    %th Date
                    %th Description
                    %th License
                    %th Size
                    %th Format
                %tbody
                  %tr
                    %td #{site.pom.latestFinal.name}
                    %td #{site.pom.latestFinal.releaseDate}
                    %td WildFly 8.x
                    %td #{site.license}
                    %td 18 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/#{site.pom.latestFinal.version}/dashbuilder-#{site.pom.latestFinal.version}-wildfly8.war",
                          :onclick => "trackDownload(this.href, 'Wildfly', '#{site.pom.latestFinal.name}'); return false;"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td #{site.pom.latestFinal.name}
                    %td #{site.pom.latestFinal.releaseDate}
                    %td Tomcat 7.0.x
                    %td #{site.license}
                    %td 29 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/#{site.pom.latestFinal.version}/dashbuilder-#{site.pom.latestFinal.version}-tomcat7.war",
                          :onclick => "trackDownload(this.href, 'Tomcat', '#{site.pom.latestFinal.name}'); return false;"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td #{site.pom.latestFinal.name}
                    %td #{site.pom.latestFinal.releaseDate}
                    %td TomEE 1.7.1
                    %td #{site.license}
                    %td 26 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/#{site.pom.latestFinal.version}/dashbuilder-#{site.pom.latestFinal.version}-tomee-1.7.1.war",
                          :onclick => "trackDownload(this.href, 'TomEE', '#{site.pom.latestFinal.name}'); return false;"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td #{site.pom.latestFinal.name}
                    %td #{site.pom.latestFinal.releaseDate}
                    %td WebSphere 8.x
                    %td #{site.license}
                    %td 27 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/#{site.pom.latestFinal.version}/dashbuilder-#{site.pom.latestFinal.version}-was8.war",
                          :onclick => "trackDownload(this.href, 'Websphere', '#{site.pom.latestFinal.name}'); return false;"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td #{site.pom.latestFinal.name}
                    %td #{site.pom.latestFinal.releaseDate}
                    %td Weblogic 12c
                    %td #{site.license}
                    %td 24 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/#{site.pom.latestFinal.version}/dashbuilder-#{site.pom.latestFinal.version}-weblogic12.war",
                          :onclick => "trackDownload(this.href, 'Weblogic', '#{site.pom.latestFinal.name}'); return false;"}
                        %i.icon-download-alt>
                        WAR
              %ul
                %li
                  How to install on WildFly 8.x: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/6.4.x/builder/src/main/wildfly8/README.md", :target => "_blank"} installation instructions
                %li
                  How to install on TomEE 1.7.1: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/6.4.x/builder/src/main/tomee1.7.1/README.md#deploy-the-dashboard-builder", :target => "_blank"} installation instructions
                %li
                  How to install on Tomcat 7: Read the 
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/6.4.x/builder/src/main/tomcat7/README.md#configure-apache-tomcat-7-server", :target => "_blank"} installation instructions
                %li
                  How to install on WebSphere 8.x: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/6.4.x/builder/src/main/was8/README.md", :target => "_blank"} installation instructions
                %li
                  How to install on Weblogic 12c: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/6.4.x/builder/src/main/weblogic12c/README.md", :target => "_blank"} installation instructions
                %li
                  Older community releases: Check the
                  = succeed "." do
                    %a{:href => "http://download.jboss.org/dashbuilder/release/", :target => "_blank"} release archive
                %li
                  Red Hat subscription releases: Check the BPMS product on the
                  = succeed "." do
                    %a{:href => "https://access.redhat.com/site/downloads/", :target => "_blank"} download site

    #rightcol.span3.well
      = partial ( 'latestNews.html.haml' )
