---
title: UF Dashbuilder Binaries Download
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => relative("/index.html")} Home
  \/  Downloads  /
  %a.breadcrumb_anchor.active{:href => relative("/downloads/downloads_ufdashb.html")} UF Dashbuilder
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Nightly Builds
        .sect1
          .sectionbody
            .paragraph
              %p UF Dashbuilder has not been officially released yet (coming soon).
              %p Only nightly builds from latest snapshots are available for download.
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Version
                    %th Description
                    %th License
                    %th Format
                %tbody
                  %tr
                    %td #{site.pom.ufdashb_nightly.version}
                    %td WildFly 8.x
                    %td #{site.license}
                    %td
                      %a{:href => "https://origin-repository.jboss.org/nexus/service/local/artifact/maven/redirect?r=snapshots&g=org.dashbuilder&a=dashbuilder-distros&v=LATEST&e=war&c=wildfly8"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td #{site.pom.ufdashb_nightly.version}
                    %td Tomcat 7.0.x
                    %td #{site.license}
                    %td
                      %a{:href => "https://origin-repository.jboss.org/nexus/service/local/artifact/maven/redirect?r=snapshots&g=org.dashbuilder&a=dashbuilder-distros&v=LATEST&e=war&c=tomcat7"}
                        %i.icon-download-alt>
                        WAR

              %ul
                %li
                  How to install on WildFly 8.x: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/dashbuilder/dashbuilder/blob/master/dashbuilder-distros/src/main/wildfly8/README.md", :target => "_blank"} installation instructions
                %li
                  How to install on Tomcat 7: Read the
                  = succeed "." do
                    %a{:href => "https://github.com/dashbuilder/dashbuilder/blob/master/dashbuilder-distros/src/main/tomcat7/README.md", :target => "_blank"} installation instructions

    #rightcol.span3.well
      = partial ( 'latestNews.html.haml' )
