---
title: Binaries Download
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => "index.html"} Home
  \/  Downloads  /
  %a.breadcrumb_anchor.active{:href => "downloads_binaries.html"} Binaries Download
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Binaries Download
        .sect1
          .sectionbody
            .paragraph
              %p Dashbuilder deployable WAR archives for Tomcat 7 and JBoss AS 7.1.1.
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th Version
                    %th Date
                    %th Description
                    %th License
                    %th Size
                    %th Format
                %tbody
                  %tr
                    %td 6.1.0 Final
                    %td 2014-08-02
                    %td JBoss AS 7.1.1 distribution
                    %td ASL 2.0
                    %td 18 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/6.1.0.Final/dashbuilder-6.1.0.Final-jboss-as7.war", :target => "_blank"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td 6.1.0 Final
                    %td 2014-08-02
                    %td Tomcat 7.0.x distribution
                    %td ASL 2.0
                    %td 30 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/6.1.0.Final/dashbuilder-6.1.0.Final-tomcat-7.war", :target => "_blank"}
                        %i.icon-download-alt>
                        WAR
                  %tr
                    %td 6.1.0 Final
                    %td 2014-08-02
                    %td WebSphere 8 distribution
                    %td ASL 2.0
                    %td 27 MB
                    %td
                      %a{:href => "http://downloads.jboss.org/dashbuilder/release/6.1.0.Final/dashbuilder-6.1.0.Final-was-8.war", :target => "_blank"}
                        %i.icon-download-alt>
                        WAR
              %ul
                %li
                  How to install on JBoss AS 7.x: Read the 
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/master/builder/src/main/jbossas7/README.md#deploy-the-dashboard-builder", :target => "_blank"} installation instructions
                %li
                  How to install on Tomcat 7: Read the 
                  = succeed "." do
                    %a{:href => "https://github.com/droolsjbpm/dashboard-builder/blob/master/builder/src/main/tomcat7/README.md#configure-apache-tomcat-7-server", :target => "_blank"} installation instructions
                %li
                  Older community releases: Check the
                  = succeed "." do
                    %a{:href => "http://download.jboss.org/dashbuilder/release/", :target => "_blank"} release archive
                %li
                  Red Hat subscription releases: Check the BPMS product on the
                  = succeed "." do
                    %a{:href => "https://access.redhat.com/site/downloads/", :target => "_blank"} download site
        %hr/
    #rightcol.span3.well
      = partial ( 'latestNews.html.haml' )
