---
title: Team
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => relative("/index.html")} Home
  \/ Join Us /
  %a.breadcrumb_anchor.active{:href => relative("/joinus/team.html")} Team
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid.team
        %h1 Team
        %p Dashbuilder is maintained by an small group of invaluable core contributors, with the great support and involvement of our community.
        %h3 Project Lead

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'dgutierr', :mode => 'long')

        %h3 Quality Assurance

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'jhrcek', :mode => 'long')

        %h3 Release Management

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'mbiarnes', :mode => 'long')

        %h3 Core developers

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'pefernan', :mode => 'long')

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'romartin', :mode => 'long')

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'wmedvede', :mode => 'long')

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'nmirasch', :mode => 'long')

        = partial('userBadge.html.haml', :outputPage => page, :userId => 'jrenaat', :mode => 'long')
            
        %h3 Historic contributors
        %p
          See all contributors on
          = succeed "." do
            %a{:href => "https://www.openhub.net/p/dashbuilder/contributors/summary", :target => "_blank"} Open HUB

        %hr/
    #rightcol.span3.well
      = partial ( 'latestNews.html.haml' )
